@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background: url(/bg.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#scoreContainer {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 300px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

#scoreBox,
#hiscoreBox {
    font-size: 20px;
    font-weight: bold;
    font-family: "New Tegomin", serif;
    margin: 0 10px;
}

#board {
    background: linear-gradient(rgb(54, 221, 199), rgb(189, 197, 69));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: linear-gradient(rgb(223, 125, 125), rgb(207, 207, 136));
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 9px;
}

.snake {
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 16px;
}

.food {
    background: linear-gradient(red, purple);
    border: .25vmin black;
    border-radius: 8px;
}

.comment-section {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.comment-section h2 {
    margin-bottom: 10px;
}

#commentForm {
    display: flex;
    flex-direction: column;
}

#commentForm div {
    display: flex;
    align-items: center;
}

#commentForm input[type="text"],
#commentForm textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#commentForm button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#comments {
    margin-top: 20px;
}

.comment {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.comment img {
    border-radius: 50%;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.comment-header {
    display: flex;
    align-items: center;
}

.comment-header h4 {
    margin: 0;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.comment-header button {
    margin-left: auto;
}

.comment-line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 5px 0;
}
